<div class="nav-bar">
<nav>
  <a routerLink="main-page" routerLinkActive="active">Pagrindinis Puslapis</a>
  <a routerLink="courses/courses-list" routerLinkActive="active">Kursai</a>
  <a routerLink="recipes" routerLinkActive="active">Receptai</a>
  <a routerLink="admin" routerLinkActive="active">Administracija</a>

  <!--<div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Kursai</a>
    </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Receptai</a>
    </div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Administracija</a>
    </div> 
  </div>-->
</nav></div>
<router-outlet></router-outlet>
