<div>
    <form>
      <div class="col-sm-8">
        <h2>Recepto Kūrimo Forma</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="name">Recepto Pavadinimas</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="recipe.pavadinimas" name="name" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="exp">Recepto Max Patirties taškai</label>
            <input type="text" class="form-control" id="exp" [(ngModel)]="recipe.max_patirties_tasku" name="exp" required>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="rank">Kurso Sudėtingumas</label>
            <input type="number" class="form-control" id="rank" [(ngModel)]="recipe.sudetingumas" name="rank" min="1"
              max="3" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="discription">Kurso Aprašymas</label>
            <textarea rows="5" cols="50" class="form-control" id="discription" name="discription"
              [(ngModel)]="recipe.aprasymas" required></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-success" (click)="saveRecipe()">Saugoti</button>
        </div>
      </div>
    </form>
  </div>