/* You can add global styles to this file, and also import other style files */
.bg { 
    /* The image used */
    background-image: url("assets\single-senior-man-cooking-turkey-picture-id617591686.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
